html {
	width: auto;
	height: 100%;
}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
	Helvetica, "Open Sans Condensed", sans-serif;
	margin: 0;
	padding: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding-bottom: 100px; /* Height of the footer element */
}
#footer {
	background-image: url('../images/footer.png');
	background-repeat: repeat;
	background-attachment: scroll;
	width: 100%;
	margin-top: 50px;
	height: 50px;
	bottom: 0;
	left: 0;
	padding: 5px;
	position: absolute;
}

/*------------   INPUT BOXES   ----------
--------------------- &  ----------------
--------------  FORM HANDLING  ----------
-----------------------------------------
*/




input[type=text],
input[type=password] {
	border-radius: 4px;
	padding: 5px 10px;
	margin: 4px 1px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 550;
	width: 180px;
}
input[type=number] {
	border-radius: 4px;
	padding: 5px 7px;
	margin: 4px 1px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 65px;
	font-weight: 550;
	font-size: 14px;
}
input[type=date] {
	border-radius: 4px;
	padding: 5px 7px;
	margin: 4px 1px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 140px;
	font-weight: 550;
	font-size: 14px;
}

input[type=number]:focus,
input[type=text]:focus,
input[type=textarea]:focus {
	outline: none;
}
/*
===========================================
				Buttons!!
===========================================
*/
.button {
	background-color: #4CAF50;
	margin: 4px;
	padding: 6px 10px;
	display: inline-block;
	width: auto;
	height: auto;
	text-align: center;
	color: white;
	font-size: 15px;
	cursor: pointer;
	pointer-events: pointer;
	letter-spacing: 2px;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	border: 2px solid #4CAF50;
	outline: none;
	font-weight: inherit;
}
.buttonalt {
	background-color: #5f6568;
	margin: 0;
	padding: 10px 10px;
	display: inline-block;
	width: 350px;
	text-align: center;
	color: white;
	font-size: 15px;
	cursor: pointer;
	pointer-events: pointer;
	letter-spacing: 2px;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	border: 1px solid #5f6568;
	outline: none;
	font-weight: normal;
}
.buttonalt.pane {
	background-color: #4CAF50;
	margin: 0;
	padding: 10px 10px;
	display: inline-block;
	width: 350px;
	text-align: center;
	color: white;
	font-size: 15px;
	cursor: pointer;
	pointer-events: pointer;
	letter-spacing: 2px;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	border: 1px solid #4CAF50;
	outline: none;
}
.buttonalt.pane:hover {
	background-color: white;
	color: black;
}
.buttonalt:hover {
	background-color: #bfcbd0;

}
.button:hover {
	border: 2px solid #4CAF50;
	background-color: white;
	color: black;
}
.button:focus {
	outline: none;
}
#btnAdd,
#btnUpdate,
#btnSearch {
	margin-left: 150px;
	margin-right: 30px;
}

.button.alt.blue {
	background-color: #52ADDA;
	margin: 0 auto;
	padding: 10px 10px;
	display: inline-block;
	width: 200px;
	text-align: center;
	color: white;
	font-size: 15px;
	cursor: pointer;
	pointer-events: pointer;
	letter-spacing: 1px;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	border: 1px solid #52ADDA;
	outline: none;
	font-weight: normal;
}
.button.alt.blue:hover {
	background-color: white;
	color: black;
}
.m20.button.alt.blue{
	margin-left: 20px;
	margin-right: 20px;
}
.button.menu {
	background-color: black;
	margin: 0 auto;
	padding: 12px 15px;
	display: inline-block;
	width: auto;
	text-align: center;
	color: white;
	font-size: 15px;
	cursor: pointer;
	pointer-events: pointer;
	letter-spacing: 2px;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	border: 1px solid black;
	outline: none;
	font-weight: normal;
}
.left {
	border-left: 0;
}
.button.menu:hover {
	color: #52ADDA;

}

.button.login {
	background-color: #da7f52;
	margin: 4px;
	padding: 6px 10px;
	display: inline-block;
	width: auto;
	height: auto;
	text-align: center;
	color: #ccc;
	font-size: 15px;
	cursor: pointer;
	pointer-events: pointer;
	letter-spacing: 2px;
	-webkit-transition-duration: .4s;
		 -moz-transition-duration: .4s;
			 -o-transition-duration: .4s;
					transition-duration: .4s;
	border: 2px solid #4CAF50;
	outline: none;
	font-weight: inherit;
}
.button.login:hover {

}


/* ==============================================
			FORM HANDLING & VALIDATION
===============================================*/


/*       ------------   LINKS ON ALL SITE   ------------
		 -----------------------------------------------*/


a {
	text-decoration: none;
}
button {
	text-decoration: none;
}
/*
===================================================================================================

									ANIMATION EFFECTS

===================================================================================================
*/

.parallax.main {
	background-image: url("../images/main-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
.parallax-bg-10 {
  min-height: 1080px;
  background-color: #191919;
	opacity: 1;
}
.parallax-md {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  min-height: 500px;
}
.parallax-lg {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  min-height: 1080px;
}
.login.gradient {
	background: linear-gradient(to bottom right, #00ffdc, #00ffff);
	height: 100%;
}

/*
================================================
			TITLE / HEADINGS / COLORS / TEMPLATES
================================================
*/

.header20 {
	font-size: 20px;
	text-align: center;
}
.header25 {
	font-size: 25px;
	text-align: center;
}
.header30 {
	font-size: 30px;
	text-align: center;
}
.header35 {
	font-size: 35px;
	text-align: center;
}
.header40 {
	font-size: 40px;
	text-align: center;
}
.header45 {
	font-size: 45px;
	text-align: center;
}
.header50 {
	font-size: 50px;
	text-align: center;
}
.header55 {
	font-size: 55px;
	text-align: center;
}
.header60 {
	font-size: 60px;
	text-align: center;
}
.header65 {
	font-size: 65px;
	text-align: center;
}
.white {
	color: white;
}
.blue {
	color: blue;
}
.black {
	color: black;
}
.center {
    text-align: center;
}
.center.div {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 0;
}

/*
==================================================
									LOGIN PAGE
==================================================
*/

.login.section {
	overflow-y: hidden;
}
.login.field:focus {
	box-shadow: 0 0 6px black, 0 0 15px rgba(102, 175, 233, .6);
	outline: none;
}
.login.field {
	margin-left: 20px;
	margin-right: 20px;
}
.login-form {
	display: block;
	text-align: center;
}

.login.label {
	float: left {

	}
}
/*
========================================================================
						General Formatting
======================================================================== */

/*
===================================================

=FOOTER

===================================================*/

.footer a {
	color: black;
}


.footer p {
	color: white;
	text-align: center;
}

/*
===================================================================================================

									BLOCK LEVEL ELEMENTS

===================================================================================================
*/



/*
===================================================================================================

									Navigation Menu & List Menu

===================================================================================================
*/
#drop-pane {
	margin-bottom: 50px;
}
.horizontal-rule {
	margin-bottom: 10px;
	display: block;
	background-color: #4CAF50;
	width: 100%;
	border: 1px solid #4CAF50;
}
div.nav {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	background-color: black;
	overflow: hidden;
	width: auto;
}
/*ul.nav li {
	width: auto;
}*/

.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    cursor: pointer;
}

div.nav a:hover:not(.active),
.dropdown:hover:not(.active) {
	/*background-color: #52ADDA;*/
	-webkit-transition: background-color .15s;
	   -moz-transition: background-color .15s;
	     -o-transition: background-color .15s;
	        transition: background-color .15s;
}

div.nav a.right {
	float: right;
}

@media screen and (max-width: 600px){
    div.nav a.right,
    div.nav a {
    	float: none;
    }
    div.drop-content {
    	width: 100%;
    }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
	div.nav a.right,
	div.nav a {
		float: none;
	}
	div.drop-content {
		width: 100%;
	}

}

/*  ==========================     DROP DOWN    ==================

=================================================================
*/

li.dropdown {
    display: block;
}

div.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}
div.drop-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #C9C9C9;
    margin: 0;
}

div.drop-content a:hover:not(.active) {
	background-color: #f1f1f1;
}

.dropdown:hover div.drop-content {
    display: block;
}
.divider {
	height: .01em;
	width: auto;
	padding: 0;
	margin: 0 auto;
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
}
.nav .edge ul {
	right: 0;
}
.show {display:block;}

/*
==============================================================================================================
											Horizontal List
											Vertical List
=================================================================================================
*/

ul.horizontal-list {
	list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 750px;
}
li.horizontal-list {
	float: left;
}
li a.horizontal-list {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    background-color: #C9C9C9;
    color: #000;
    border-radius: 4px;
    width: 220px;
    height: 50px;
}
li a.horizontal-list:hover {
	background-color: #52ADDA;
    color: white;
}


/*  -------- VERTICAL LIST -------- */


ol.vertical-list,
ul.vertical-list {
    list-style-type: none;
    margin: 0 150px 0 150px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: 750px;
}
li a.vertical-list {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #C9C9C9;
    border-radius: 4px;
    width: 200px;
}
li a.vertical-list:hover {
    background-color: #52ADDA;
    color: white;
}
