<div id="nav-menu">
  <nav>
    <ul class="nav">
        <li class="right"><a href="index.html">Home</a></li>
        <li><a href="Intro_1_Jacob_Longhurst.html">Get To Know Me</a></li>
        <li><a href="Intro_2_Jacob_Longhurst.html">ePortfolio</a></li>
        <li><a href="Intro_3_Jacob_Longhurst.html">About</a></li>
        <li><a href="#">E-Commerce</a></li>
        <li class="dropdown"><a class="dropbtn active" href="#">Labs</a>
            <div class="drop-content" style="z-index: 999;">
                <a href="HelloWorld.php">Hello World</a>
                <hr class="divider" />
                <a href="whoami.php">Who Am I?</a>
                <hr class="divider" />
                <a href="daysofweek.php">CE02 Days of The Week</a>
                <hr class="divider" />
                <a href="ce03.php">CE03 Book Return</a>
                <hr class="divider" />
                <a href="ce04.php">CE04 Story Idea Generator</a>
                <hr class="divider" />
                <a href="AuthorsProject/AuthorsProject/AuthorsAdd.php">CE06 Adding and Removing from Database</a>
                <hr class="divider" />
                <a href="ce08.php">CE07/08</a>
                <hr class="divider" />
                <a href="ce09.html">CE09/10 JS Form</a>
                <hr class="divider" />
                <a href="ce11.php">CE11 Ajax</a>
                <hr class="divider" />
                <a href="ce12.php">CE12 Game</a>
                <hr class="divider" />
                <a href="ce13.php">CE13 Login Page</a>
            </div>
        </li>
        <li class="dropdown"><a class="dropbtn" href="#">Assignments</a>
            <div class="drop-content">
                <a href="statestats.php">State Statistics</a>
                <hr class="divider">
                <a href="mysqlForm.php">MySQL Form</a>
            </div>
        </li>
        </ul>
    </nav>
</div><br />
