<section>
  <div id="nav">
      <div class="nav">
        <a class="menu" ng-href="#/home"><img class="nav logo" src="../../assets/images/logo-nav.png" />Jacob Longhurst</a>
        <a class="button menu left right" ng-href="#/eportfolio">ePortfolio</a>
        <a class="button menu left right" ng-href="#/portfolio">Portfolio</a>
        <a class="left button menu right" ng-href="#/home">Home</a>
      </div>
  </div>
</section>
<!--
<div id="nav-menu">
  <ul class="nav">
    <li class="right"><a href="index.html">Home</a></li>
    <li><a href="Intro_1_Jacob_Longhurst.html">Get To Know Me</a></li>
    <li><a href="Intro_2_Jacob_Longhurst.html">ePortfolio</a></li>
    <li><a href="Intro_3_Jacob_Longhurst.html">About</a></li>
    <li><a href="#">E-Commerce</a></li>
    <li class="dropdown"><a class="dropbtn" href="#">Assignments</a>
        <div class="drop-content">
            <a href="statestats.php">State Statistics</a>
            <hr class="divider">
            <a href="mysqlForm.php">MySQL Form</a>
        </div>
    </li>
  </ul>
</div> -->
