<section>
  <div id="nav">
      <div class="nav">
        <a class="menu" ng-href="#/home"><img class="nav logo" src="../../assets/images/logo-nav.png" />Jacob Longhurst</a>
        <a class="button menu left right" ng-href="#/contact">Contact</a>
        <a class="button menu left right" ng-href="#/about">About</a>
        <a class="button menu left right" ng-href="#/eportfolio">ePortfolio</a>
        <a class="button menu left right" ng-href="#/portfolio">Portfolio</a>
        <a class="left button menu right" ng-href="#/home">Home</a>
      </div>
  </div>
</section>
