<section>
  <div id="nav">
      <div class="nav">
        <a ui-sref="home"><img class="nav logo" src="../../assets/images/logo-nav.png" /></a>
        <a class="button menu left right" ui-sref="about.contact">Contact</a>
        <a class="button menu left right" ui-sref="about">About</a>
        <a class="button menu left right" ui-sref="college">ePortfolio</a>
        <a class="button menu left right" ui-sref="portfolio">Portfolio</a>
        <a class="left button menu right" ui-sref="home">Home</a>
      </div>
  </div>
</section>
